
#backgroundImage{
    background-size: cover;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100%;
}
#logo{
    padding-top: 100px;
    text-align: center;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000000')";
    padding-bottom: 60px;
}
@font-face{
    font-family: "comicF";
    src: url(../font/Kaushan.otf) format('truetype');
}
/*///////////////////////////////////////////////////////////////////////////////////*/
#navbar{
    padding-bottom: 40px;
}
#navbar a{
    font-size: 25px;
    color: white;
    font-family: comicF;
    display: inline;
    text-shadow: 10px 10px 5px white;
    padding-right: 40px;
    display: block;
    text-align:center;
    text-shadow: 1px 1px black;
    text-decoration: none;
}
#navbar ul {
    list-style-type: none;
    margin:0 auto;
    text-align:center;
    padding-left: 0px;
}
#navbar li {
    display: inline-block;
    text-align: center;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.postBox{
    border-radius: 7px;
    background-color: whitesmoke;
    width: 100%;
    font-family: normalA;
    color: black;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.postBox p{
    padding-bottom: 5px;
   
    font-family: normal;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
#footer{
     border-radius: 5px;
    width: 100%;
    background-color: whitesmoke;
    height: auto;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 2px;
}
.tags{
    color: grey;
     font-family: normalA;
}
.commentStyle{
       font-family: normal;
    font-size: 13px;
    display: none;
    padding-bottom: 15px;
    }
#form input{
    color:#888;
    font-family: normal;
    padding-left: 4px;
   }
#commentTitle{
    
}
input:focus::-webkit-input-placeholder { color:transparent; }
.commentDate{
    font-size: 10px;
    color: #888;   
}

#navbar a:hover { 
    color: #ededed;
}
.commentAuthor{
     font-size: 12px;
     font-weight: bold;
}